@model IEnumerable<NimbusACAD.Models.DB.RBAC_Permissao>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Nova permissao", "NovaPermissao")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Permissao_Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Permissao_Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Permissao_ID }) |
            @Html.ActionLink("Deletar", "Deletar", new { id=item.Permissao_ID })
        </td>
    </tr>
}

</table>
