@model IEnumerable<NimbusACAD.Models.DB.Negocio_Documento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Documento_Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Documento_Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Documento_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Documento_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Documento_ID })
        </td>
    </tr>
}

</table>
