@model NimbusACAD.Models.DB.Negocio_Tipo_Funcionario

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Você tem certeza de que deseja deletar este cargo, esta operação não poderá ser desfeita?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Cargo)</dt>
        <dd>@Html.DisplayFor(model => model.Cargo)</dd>

        <dt>@Html.DisplayNameFor(model => model.Descricao)</dt>
        <dd>@Html.DisplayFor(model => model.Descricao)</dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
        </div>
    }
</div>
