@model NimbusACAD.Models.DB.Negocio_Tipo_Funcionario

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<hr />
<div>
        <p><b>@Html.DisplayNameFor(model => model.Cargo): </b>@Html.DisplayFor(model => model.Cargo)</p>
        <p><b>@Html.DisplayNameFor(model => model.Descricao): </b>@Html.DisplayFor(model => model.Descricao)</p>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Tipo_Funcionario_ID}) | 
    @Html.ActionLink("Deletar", "Deletar", new { id = Model.Tipo_Funcionario_ID })
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}