@model IEnumerable<NimbusACAD.Models.DB.Negocio_Tipo_Funcionario>

@{
    ViewBag.Title = "Index";
}

<h2>Cargo</h2>
<br />
<p>
    @Html.ActionLink("Novo Cargo", "NovoCargo")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Cargo)</th>
        <th>@Html.DisplayNameFor(model => model.Descricao)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Cargo)</td>
        <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
        <td>
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.Tipo_Funcionario_ID })
        </td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
