@model IEnumerable<NimbusACAD.Models.DB.Negocio_Tipo_Funcionario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Tipo_Funcionario_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Tipo_Funcionario_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Tipo_Funcionario_ID })
        </td>
    </tr>
}

</table>
