@model NimbusACAD.Models.DB.Negocio_Disciplina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Negocio_Disciplina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Disciplina_Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disciplina_Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tot_Aulas_Dadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tot_Aulas_Dadas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carga_Horaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carga_Horaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Negocio_Funcionario.Funcionario_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Negocio_Funcionario.Funcionario_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Negocio_Modulo.Modulo_Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Negocio_Modulo.Modulo_Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Disciplina_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
