@model IEnumerable<NimbusACAD.Models.DB.Negocio_Disciplina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Disciplina_Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tot_Aulas_Dadas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carga_Horaria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Negocio_Funcionario.Funcionario_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Negocio_Modulo.Modulo_Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Disciplina_Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tot_Aulas_Dadas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carga_Horaria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Negocio_Funcionario.Funcionario_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Negocio_Modulo.Modulo_Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Disciplina_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Disciplina_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Disciplina_ID })
        </td>
    </tr>
}

</table>
