<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace","Ajax"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"b1fbc7de-e1f8-42b2-85de-8a4d5812282d"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NimbusAcad", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.HasPermission("Institucional-menu"))
                        {
                            <li class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Institucional
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @if (User.HasPermission("Curso-Index")){<li>@Html.ActionLink("Curso", "Index", "Curso")</li>}
                                    @if (User.HasPermission("Horario-Index")) {<li>@Html.ActionLink("Horario", "Index", "Horario")</li>}
                                    @if (User.HasPermission("Matricula-menu"))
                                    {
                                        <li class="dropdown">
                                            Matricula
                                            <span class="caret"></span>
                                            <ul class="dropdown-menu">
                                                @if (User.HasPermission("Matricula-Buscar")){<li>@Html.ActionLink("Buscar", "Index", "Matricula")</li>}
                                                @if (User.HasPermission("Matricula-Criar")){<li>@Html.ActionLink("Matricular", "NovaPessoa", "Matricula")</li>}
                                            </ul>
                                        </li>
                                    }
                                    @if (User.HasPermission("Diario-menu"))
                                    {
                                        <li class="dropdown">
                                            Diário de classe
                                            <span class="caret"></span>
                                            <ul class="dropdown-menu">
                                                @if (User.HasPermission("Diario-Index")){<li>@Html.ActionLink("Diário de classe", "Index", "Diario")</li>}
                                                @if (User.HasPermission("Diario-ListarPresenca")){<li>@Html.ActionLink("Listar Presenças", "ListarPresencas", "Diario")</li>}
                                                @if (User.HasPermission("Diario-VerNotasAluno")){<li>@Html.ActionLink("Ver notas por aluno", "VerNotasAluno", "Diario")</li>}
                                                @if (User.HasPermission("Diario-VerNotasDisciplinas")){<li>@Html.ActionLink("Ver notas por disciplina", "VerNotasDisciplina", "Diario")</li>}
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                        if (User.HasPermission("Administrativo-menu"))
                        {
                            <li class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Administrativo
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @if (User.HasPermission("Cargo-Index")){<li>@Html.ActionLink("Cargo", "Index", "Cargo")</li>}
                                    @if (User.HasPermission("Documento-Index")){<li>@Html.ActionLink("Documentos", "Index", "Documento")</li>}
                                    @if (User.HasPermission("Funcionario-menu"))
                                    {
                                        <li class="dropdown">
                                            Funcionário
                                            <span class="caret"></span>
                                            <ul class="dropdown-menu">
                                                @if (User.HasPermission("Funcionario-Index")){<li>@Html.ActionLink("Funcionarios", "Index", "Funcionario")</li>}
                                                @if (User.HasPermission("Funcionario-Criar")){<li>@Html.ActionLink("Cadastrar", "NovaPessoa", "Funcionario")</li>}
                                            </ul>
                                        </li>
                                    }
                                    @if (User.HasPermission("GerenciarSistema-menu"))
                                    {
                                        <li class="dropdown">
                                            Gerenciar Sistema
                                            <span class="caret"></span>
                                            <ul class="dropdown-menu">
                                                @if (User.HasPermission("RBACPerfil-Index")) {<li>@Html.ActionLink("Perfis de Acesso", "Index", "RBACPerfil")</li>}
                                                @if (User.HasPermission("RBACPermissao-Index")) {<li>@Html.ActionLink("Permissões", "Index", "RBACPermissao")</li>}
                                                @if (User.HasPermission("RBACUsuario-Index")) {<li>@Html.ActionLink("Usuários", "Index", "RBACUsuario")</li>}
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        <li class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Gerenciar
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Mensagens", "Index", "Mensagem")</li>
                                <li>@Html.ActionLink("Gerenciar", "Index", "Gerenciar")</li>
                                <li>@Html.ActionLink("LogOut", "LogOff", "Account")</li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Entrar
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Login", "Login", "Account")</li>
                                <li>@Html.ActionLink("Assinatura", "Assinatura", "Home")</li>
                            </ul>
                        </li>                        
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
