@model NimbusACAD.Models.DB.Negocio_Curso

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>
<hr />
<h4>Você tem certeza de que deseja deletar este curso, esta operação não poderá ser desfeita?</h4>
<br />
<div>
        <p><b>Nome do curso: </b> @Html.DisplayFor(model => model.Curso_Nome)</p>

         <p><b>Descrição: </b>@Html.DisplayFor(model => model.Descricao)</p>

         <p><b>Periodo: </b>@Html.DisplayFor(model => model.Periodo)</p>

         <p><b>Carga Horária: </b>@Html.DisplayFor(model => model.Carga_Horaria)</p>

         <p><b>Primeiro nome: </b>@Html.DisplayFor(model => model.Negocio_Funcionario.Negocio_Pessoa.Primeiro_Nome)</p>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <br />
        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" />
        </div>
    }
</div>
