@model NimbusACAD.Models.ViewModels.VerCursoViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>
<hr />
<div class="col-md-6">
        <p><b>@Html.DisplayNameFor(model => model.CursoNm)</b> @Html.DisplayFor(model => model.CursoNm)</p>

        <p><b>@Html.DisplayNameFor(model => model.Descricao)</b> @Html.DisplayFor(model => model.Descricao)</p>

        <p><b>@Html.DisplayNameFor(model => model.Periodo)</b> @Html.DisplayFor(model => model.Periodo)</p>

        <p><b>@Html.DisplayNameFor(model => model.CoordenadorNM)</b> @Html.DisplayFor(model => model.CoordenadorNM)</p>

        <p><b>@Html.DisplayNameFor(model => model.CoordenadorEmail)</b> @Html.DisplayFor(model => model.CoordenadorEmail)</p>

        <p><b>@Html.DisplayNameFor(model => model.CargaHoraria)</b> @Html.DisplayFor(model => model.CargaHoraria)</p>
        <br />
        <p>
            @Html.ActionLink("Editar", "Editar", new { id = Model.CursoID }) |
            @Html.ActionLink("Deletar", "Deletar", new { id = Model.CursoID })
        </p>
</div>
<div class="col-md-6">
    <p>Módulos</p>
    <p>@Html.ActionLink("Novo Módulo", "NovoModulo", "Modulo", new { id = Model.CursoID }, null)</p>
    <table class="table">
        @foreach (var item in Model.Modulos)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ModuloNome) | @Html.ActionLink("Detalhes", "Detalhes", "Modulo", new { id = item.ModuloID }, null)</td>
            </tr>
        }
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}