@model NimbusACAD.Models.DB.Negocio_Curso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Negocio_Curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso_Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso_Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carga_Horaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carga_Horaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Negocio_Funcionario.Funcionario_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Negocio_Funcionario.Funcionario_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Curso_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
