@model IEnumerable<NimbusACAD.Models.DB.Negocio_Curso>

@{
    ViewBag.Title = "Index";
}

<h2>Cursos</h2>

<p>
    @Html.ActionLink("Novo Curso", "NovoCurso")
</p>
<table class="table">
    <tr>
        <th>Curso</th>
        <th>Coordenador</th>
        <th>Descrição</th>
        <th>Periodo</th>
        <th>Carga Horária</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Curso_Nome)</td>
        <td>@Html.DisplayFor(modelItem => item.Negocio_Funcionario.Negocio_Pessoa.Primeiro_Nome)</td>
        <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
        <td>@Html.DisplayFor(modelItem => item.Periodo)</td>
        <td>@Html.DisplayFor(modelItem => item.Carga_Horaria)</td>
        <td>
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.Curso_ID })
        </td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}