@model NimbusACAD.Models.ViewModels.PerfilDeUsuarioViewModel

@{
    ViewBag.Title = "Index";
}

<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.PrimeiroNome)</dt>
        <dd>@Html.DisplayFor(model => model.PrimeiroNome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Sobrenome)</dt>
        <dd>@Html.DisplayFor(model => model.Sobrenome)</dd>

        <dt>@Html.DisplayNameFor(model => model.CPF)</dt>
        <dd>@Html.DisplayFor(model => model.CPF)</dd>

        <dt>@Html.DisplayNameFor(model => model.RG)</dt>
        <dd>@Html.DisplayFor(model => model.RG)</dd>

        <dt>@Html.DisplayNameFor(model => model.Sexo)</dt>
        <dd>@Html.DisplayFor(model => model.Sexo)</dd>

        <dt>@Html.DisplayNameFor(model => model.DtNascimento)</dt>
        <dd>@Html.DisplayFor(model => model.DtNascimento)</dd>

        <dt>@Html.DisplayNameFor(model => model.TelPrincipal)</dt>
        <dd>@Html.DisplayFor(model => model.TelPrincipal)</dd>

        <dt>@Html.DisplayNameFor(model => model.TelSecundario)</dt>
        <dd>@Html.DisplayFor(model => model.TelSecundario)</dd>

        <dt>@Html.DisplayNameFor(model => model.EndCompleto)</dt>
        <dd>@Html.DisplayFor(model => model.EndCompleto)</dd>

        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>@Html.DisplayNameFor(model => model.DtModif)</dt>
        <dd>@Html.DisplayFor(model => model.DtModif)</dd>

        <dt>@Html.DisplayNameFor(model => model.TotNotifNL)</dt>
        <dd>@Html.DisplayFor(model => model.TotNotifNL)</dd>

        <dt>@Html.DisplayNameFor(model => model.Bloqueado)</dt>
        <dd>@Html.DisplayFor(model => model.Bloqueado)</dd>

        <dt>@Html.DisplayNameFor(model => model.Perfil)</dt>
        <dd>@Html.DisplayFor(model => model.Perfil)</dd>
    </dl>
</div>

<div>
    <p>
        @Html.ActionLink("Alterar Senha", "AlterarSenha") |
        @Html.ActionLink("Editar Perfil", "EditarPerfil", new { email = Model.Email }) |
        @Html.ActionLink("Editar Endereço", "EditarEndereco", new { id = Model.PessoaID })
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}