@model NimbusACAD.Models.DB.Negocio_Modulo

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Você tem certeza de que deseja deletar este módulo, esta operação não poderá ser desfeita?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Curso</dt>
        <dd>@Html.DisplayFor(model => model.Negocio_Curso.Curso_Nome)</dd>

        <dt>Nome do modulo</dt>
        <dd>@Html.DisplayFor(model => model.Modulo_Nome)</dd>

        <dt>Máximo de alunos</dt>
        <dd>@Html.DisplayFor(model => model.Max_Alunos)</dd>

        <dt>Carga horária</dt>
        <dd>@Html.DisplayFor(model => model.Carga_Horaria)</dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}