@model NimbusACAD.Models.ViewModels.VerModuloViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.CursoNM)</dt>
        <dd>@Html.DisplayFor(model => model.CursoNM)</dd>

        <dt>@Html.DisplayNameFor(model => model.ModuloNome)</dt>
        <dd>@Html.DisplayFor(model => model.ModuloNome)</dd>

        <dt>@Html.DisplayNameFor(model => model.MaxAlunos)</dt>
        <dd>@Html.DisplayFor(model => model.MaxAlunos)</dd>

        <dt>@Html.DisplayNameFor(model => model.TotAlunos)</dt>
        <dd>@Html.DisplayFor(model => model.TotAlunos)</dd>

        <dt>@Html.DisplayNameFor(model => model.CargaHoraria)</dt>
        <dd>@Html.DisplayFor(model => model.CargaHoraria)</dd>
    </dl>
</div>

<p>Disciplinas</p>
<p>@Html.ActionLink("Nova disciplina", "NovaDisciplina", "Disciplina", new { id = Model.ModuloID })</p>
<div>
    <table class="table">
        @foreach (var item in Model.disciplinas)
        {
            <tr>@Html.DisplayFor(modelItem => item.DisciplinaNM)</tr>
            <tr>@Html.ActionLink("Detalhes", "Detalhes", "Disciplina", new { id = item.DisciplinaID })</tr>
        }
    </table>
</div>

<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.ModuloID }) | 
    @Html.ActionLink("Deletar", "Deletar", new { id = Model.ModuloID}) | 
    @Html.ActionLink("Voltar para o curso", "Detalhes", "Curso", new { id = Model.CursoID })
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
