@model NimbusACAD.Models.ViewModels.VerModuloViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Curso</dt>
        <dd>@Html.DisplayFor(model => model.CursoNM)</dd>

        <dt>Nome do modulo</dt>
        <dd>@Html.DisplayFor(model => model.ModuloNome)</dd>

        <dt>Máximo de alunos</dt>
        <dd>@Html.DisplayFor(model => model.MaxAlunos)</dd>

        <dt>Carga horária</dt>
        <dd>@Html.DisplayFor(model => model.CargaHoraria)</dd>
    </dl>
</div>

<p>Disciplinas</p>
<p>@Html.ActionLink("Nova disciplina", "NovaDisciplina", "Disciplina", new { id = Model.ModuloID }, null)</p>
<div>
    <table class="table">
        @foreach (var item in Model.disciplinas)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DisciplinaNM)</td>
                <td>@Html.ActionLink("Detalhes", "Detalhes", "Disciplina", new { id = item.DisciplinaID }, null)</td>
            </tr>
        }
    </table>
</div>

<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.ModuloID }) | 
    @Html.ActionLink("Deletar", "Deletar", new { id = Model.ModuloID})
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
