@model IEnumerable<NimbusACAD.Models.DB.Negocio_Modulo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modulo_Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Max_Alunos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tot_Inscritos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carga_Horaria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Negocio_Curso.Curso_Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Modulo_Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Max_Alunos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tot_Inscritos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carga_Horaria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Negocio_Curso.Curso_Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Modulo_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Modulo_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Modulo_ID })
        </td>
    </tr>
}

</table>
