@model NimbusACAD.Models.ViewModels.DisciplinasProfessorVIewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <td>Disciplinas</td>
        <td></td>
    </tr>
    @foreach (var item in Model.disciplinas)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DisciplinaNM)</td> | 
            <td>@Html.ActionLink("Chamada", "Chamada", new { discID = item.DisciplinaID, profID = Model.ProfessorID })</td> | 
            <td>@Html.ActionLink("Lançar Notas", "LancarNotas", new { discID = item.DisciplinaID, profID = Model.ProfessorID })</td>| 
            <td>@Html.ActionLink("Ver Notas", "VerNotasDisciplina", new { discID = item.DisciplinaID })</td>
        </tr>
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
