@model NimbusACAD.Models.ViewModels.DisciplinasProfessorVIewModel

@{
    ViewBag.Title = "Index";
}

<h2>Diario</h2>
<hr />
<table class="table">
        <h4>Disciplinas</h4>
    <br />
    @foreach (var item in Model.disciplinas)
    {
        <p>@Html.DisplayFor(modelItem => item.DisciplinaNM)</p>
        <p>@Html.ActionLink("Chamada", "Chamada", new { discID = item.DisciplinaID, profID = Model.ProfessorID })
        @Html.ActionLink("Lançar Notas", "LancarNotas", new { discID = item.DisciplinaID, profID = Model.ProfessorID })
        @Html.ActionLink("Ver Notas", "VerNotasDisciplina", new { discID = item.DisciplinaID })</p>
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
