@model NimbusACAD.Models.ViewModels.ListaLancarNotaViewModel

@{
    ViewBag.Title = "LancarNotas";
}

<h2>LancarNotas</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.DisciplinaID)
        @Html.HiddenFor(model => model.DisciplinaNm)
        <p>@Html.DisplayFor(model => model.DisciplinaNm)</p>

        <table class="table">
            <tr>
                <td>Aluno</td>
                <td>Nota 1</td>
                <td>Nota 2</td>
                <td>Media Final</td>
            </tr>
            @*@foreach (var item in Model.notas.ToList())*@
            @for (int i = 0; i < Model.notas.Count(); i++)
            {
                //<tr>@Html.DisplayFor(modelItem => item.AlunoNm)</tr>
                @*<tr>
                    @Html.EditorFor(modelItem => item.Nota1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => item.Nota1, "", new { @class = "text-danger" })
                </tr>
                <tr>
                    @Html.EditorFor(modelItem => item.Nota2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => item.Nota2, "", new { @class = "text-danger" })
                </tr>*@
                @Html.HiddenFor(model => model.notas[i].MatriculaID)
                @Html.HiddenFor(model => model.notas[i].AlunoNm)
                @Html.HiddenFor(model => model.notas[i].VinculoID)
                @Html.DisplayFor(model => model.notas[i].AlunoNm)
                <tr>
                    @Html.EditorFor(model => model.notas[i].Nota1, new { htmlAttributes = new { @class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.notas[i].Nota1, "", new { @class = "text-danger"})
                </tr>
                <tr>
                    @Html.EditorFor(model => model.notas[i].Nota2, new { htmlAttributes = new { @class = "form-control" }})
                    @Html.ValidationMessageFor(model => model.notas[i].Nota2, "", new { @class = "text-danger"})
                </tr>
            }
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
