@model IEnumerable<NimbusACAD.Models.DB.Negocio_Frequencia>

@{
    ViewBag.Title = "ListarPresencas";
}

<h2>ListarPresencas</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Negocio_Disciplina.Disciplina_Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Negocio_Funcionario.Negocio_Pessoa.Primeiro_Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Dt_Aula)</th>
        <th>@Html.DisplayNameFor(model => model.Qtde_Aula)</th>
        <th>@Html.DisplayNameFor(model => model.Aula_Ministrada)</th>
        <th>@Html.DisplayNameFor(model => model.Negocio_Matricula_Aluno.Negocio_Pessoa.Primeiro_Nome)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Negocio_Disciplina.Disciplina_Nome)</td>
        <td>@Html.DisplayFor(modelItem => item.Negocio_Funcionario.Negocio_Pessoa.Primeiro_Nome)</td>
        <td>@Html.DisplayFor(modelItem => item.Dt_Aula)</td>
        <td>@Html.DisplayFor(modelItem => item.Qtde_Aula)</td>
        <td>@Html.DisplayFor(modelItem => item.Aula_Ministrada)</td>
        <td>@Html.DisplayFor(modelItem => item.Negocio_Matricula_Aluno.Negocio_Pessoa.Primeiro_Nome)</td> | 
        <td>@Html.ActionLink("Remover Presença", "RemoverPresenca", new { id = item.Frequencia_ID })</td>
    </tr>
}

</table>
