@model IEnumerable<NimbusACAD.Models.DB.Negocio_Frequencia>

@{
    ViewBag.Title = "ListarPresencas";
}

<h2>Listar presencas</h2>
<br />
<table class="table">
    <tr>
        <th>Nome da disciplina</th>
        <th>Professor</th>
        <th>Data da aula</th>
        <th>Aulas</th>
        <th>Descrição da aula</th>
        <th>Aluno</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Negocio_Disciplina.Disciplina_Nome)</td>
        <td>@Html.DisplayFor(modelItem => item.Negocio_Funcionario.Negocio_Pessoa.Primeiro_Nome)</td>
        <td>@Html.DisplayFor(modelItem => item.Dt_Aula).ToString().Substring(1,10)</td>
        <td>@Html.DisplayFor(modelItem => item.Qtde_Aula)</td>
        <td style="width: 20%">@Html.DisplayFor(modelItem => item.Aula_Ministrada)</td>
        <td>@Html.DisplayFor(modelItem => item.Negocio_Matricula_Aluno.Negocio_Pessoa.Primeiro_Nome)</td>
        <td>@Html.ActionLink("Remover Presença", "RemoverPresenca", new { id = item.Frequencia_ID })</td>
    </tr>
}

</table>
