@model NimbusACAD.Models.DB.Negocio_Frequencia

@{
    ViewBag.Title = "RemoverPresenca";
}

<h2>Remover presença</h2>

<hr />
<h4>Tem certeza de que deseja remover esta frequencia de aluno, esta operação não poderá ser desfeita?</h4>
<div><br />
        <p><b>Disciplina: </b>@Html.DisplayFor(model => model.Negocio_Disciplina.Disciplina_Nome)</p>

        <p><b>Professor: </b>@Html.DisplayFor(model => model.Negocio_Funcionario.Negocio_Pessoa.Primeiro_Nome) @Html.DisplayFor(model => model.Negocio_Funcionario.Negocio_Pessoa.Sobrenome)</p>

        <p><b>Aluno: </b>@Html.DisplayFor(model => model.Negocio_Matricula_Aluno.Negocio_Pessoa.Primeiro_Nome) @Html.DisplayFor(model => model.Negocio_Matricula_Aluno.Negocio_Pessoa.Sobrenome)</p>

        <p><b>Data da Aula: </b>@Html.DisplayFor(model => model.Dt_Aula).ToString().Substring(1, 10)</p>

        <p><b>Aulas: </b>@Html.DisplayFor(model => model.Qtde_Aula)</p>

        <p><b>Descrição: </b>@Html.DisplayFor(model => model.Aula_Ministrada)</p>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <br />
        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" />
        </div>
    }
</div>
