@model NimbusACAD.Models.ViewModels.ListarNotasAlunoViewModel

@{
    ViewBag.Title = "VerNotasAluno";
}

<h2>Ver notas</h2>

<table class="table">
    <tr>
        <th>Modulo</th>
        <th>Disciplina</th>
        <th>Professor</th>
        <th>Nota 1</th>
        <th>Nota 2</th>
        <th>Media Final</th>
        <th>Frequencia</th>
    </tr>

    @foreach (var item in Model.notas)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ModuloNm)</td>
            <td>@Html.DisplayFor(modelItem => item.DisciplinaNm)</td>
            <td>@Html.DisplayFor(modelItem => item.Professor)</td>
            <td>@Html.DisplayFor(modelItem => item.Nota1)</td>
            <td>@Html.DisplayFor(modelItem => item.Nota2)</td>
            <td>@Html.DisplayFor(modelItem => item.MediaFinal)</td>
            <td>@Html.DisplayFor(modelItem => item.Frequencia)</td>
        </tr>
    }
</table>
