@model NimbusACAD.Models.DB.Negocio_Quadro_Horario

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>
<hr />
<h4>Você tem certeza de que deseja remover este horário, esta operação não poderão ser desfeita?</h4>
<div>
        <br />
        <p><b>Disciplina: </b>@Html.DisplayFor(model => model.Negocio_Disciplina.Disciplina_Nome)</p>
        <p><b>Dia da semana: </b>@Html.DisplayFor(model => model.Dia_Semana)</p>
        <p><b>Início da aula: </b>@Html.DisplayFor(model => model.Hora_Inicio)</p>
        <p><b>Término da aula: </b>@Html.DisplayFor(model => model.Hora_Fim)</p>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" />
        </div>
    }
</div>
