@model NimbusACAD.Models.DB.Negocio_Quadro_Horario

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Quadro_Horario_ID)
        @Html.HiddenFor(model => model.Disciplina_ID)
        @*<div class="form-group">
            @Html.LabelFor(model => model.Disciplina_ID, "Disciplina_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Disciplina_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Disciplina_ID, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Dia_Semana, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    var listItem = new List<SelectListItem>
                    {
                        new SelectListItem { Text = "Domingo", Value = "Domingo" },
                        new SelectListItem { Text = "Segunda-Feira", Value = "Segunda-Feira" },
                        new SelectListItem { Text = "Terça-Feira", Value = "Terça-Feira" },
                        new SelectListItem { Text = "Quarta-Feira", Value = "Quarta-Feira" },
                        new SelectListItem { Text = "Quinta-Feira", Value = "Quinta-Feira" },
                        new SelectListItem { Text = "Sexta-Feira", Value = "Sexta-Feira" },
                        new SelectListItem { Text = "Sábado", Value = "Sábado" }
                    };
                }
                @Html.DropDownListFor(model => model.Dia_Semana, new SelectList(listItem, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Dia_Semana, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hora_Inicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hora_Inicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hora_Inicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hora_Fim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hora_Fim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hora_Fim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
