@model IEnumerable<NimbusACAD.Models.DB.Negocio_Quadro_Horario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Negocio_Disciplina.Disciplina_Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Dia_Semana)</th>
        <th>@Html.DisplayNameFor(model => model.Hora_Inicio)</th>
        <th>@Html.DisplayNameFor(model => model.Hora_Fim)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Dia_Semana)</td>
        <td>@Html.DisplayFor(modelItem => item.Hora_Inicio)</td>
        <td>@Html.DisplayFor(modelItem => item.Hora_Fim)</td>
        <td>@Html.DisplayFor(modelItem => item.Negocio_Disciplina.Disciplina_Nome)</td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Quadro_Horario_ID }) |
            @Html.ActionLink("Deletar", "Deletar", new { id=item.Quadro_Horario_ID })
        </td>
    </tr>
}

</table>
