@model IEnumerable<NimbusACAD.Models.DB.Negocio_Quadro_Horario>

@{
    ViewBag.Title = "Index";
}

<h2>Horários</h2>
<br />
<table class="table">
    <tr>
        <th>Disciplina</th>
        <th>Dia da semana</th>
        <th>Início da aula</th>
        <th>Término da aula</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Dia_Semana)</td>
        <td>@Html.DisplayFor(modelItem => item.Hora_Inicio)</td>
        <td>@Html.DisplayFor(modelItem => item.Hora_Fim)</td>
        <td>@Html.DisplayFor(modelItem => item.Negocio_Disciplina.Disciplina_Nome)</td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Quadro_Horario_ID }) |
            @Html.ActionLink("Deletar", "Deletar", new { id=item.Quadro_Horario_ID })
        </td>
    </tr>
}

</table>
