@model NimbusACAD.Models.ViewModels.VerPerfilViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>VerPerfilViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.PerfilNome)</dt>
        <dd>@Html.DisplayFor(model => model.PerfilNome)</dd>
    </dl>
</div>

<p>Permissoes deste perfil</p>
<table class="table">
    @foreach(var item in Model.Permissoes)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Permissao_Nome)</td>
            <td>@Html.ActionLink("Remover permissao", "RemoverPermissao", new { pfid = Model.PerfilID, pmid = item.Permissao_ID })</td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Vincular permissao", "VincularPermissao", new { id = Model.PerfilID}) | 
    @Html.ActionLink("Editar", "Editar", new { id = Model.PerfilID }) |
    @Html.ActionLink("Deletar", "Deletar", new { id = Model.PerfilID}) | 
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}