@model NimbusACAD.Models.DB.RBAC_Link_Perfil_Permissao

@{
    ViewBag.Title = "RemoverPermissao";
}

<h2>Remover Permissao</h2>

<h3>Você tem certeza de que deseja desvincular essa permissão, esta operação não poderá ser desfeita?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.RBAC_Perfil.Perfil_Nome)</dt>
        <dd>@Html.DisplayFor(model => model.RBAC_Perfil.Perfil_Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.RBAC_Permissao.Permissao_Nome)</dt>
        <dd>@Html.DisplayFor(model => model.RBAC_Permissao.Permissao_Nome)</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Detalhes", new { id = Model.Perfil_ID })
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}