@model NimbusACAD.Models.ViewModels.VinculoPerfilPermissaoViewModel

@{
    ViewBag.Title = "VincularPermissao";
}

<h2>Vincular Permissao</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PerfilID, "PerfilID", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.HiddenFor(model => model.PerfilID)
            <div class="col-md-10">
                @Html.DisplayFor(model => model.PerfilID)
                @Html.ValidationMessageFor(model => model.PerfilID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PermissaoID, "Permissao", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PermissaoID", ViewBag.Permissoes as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PermissaoID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Vincular" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Detalhes", new { id = Model.PerfilID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
