@model NimbusACAD.Models.DB.Negocio_Vinculo_Modulo

@{
    ViewBag.Title = "RemoverVinculoModulo";
}

<h2>RemoverVinculoModulo</h2>

<h3>Você tem certeza de que deseja remover este vínculo, esta operação não poderá ser desfeita?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Módulo</dt>
        <dd>@Html.DisplayFor(model => model.Negocio_Modulo.Modulo_Nome)</dd>

        <dt>Aluno</dt>
        <dd>@Html.DisplayFor(model => model.Negocio_Matricula_Aluno.Negocio_Pessoa.Primeiro_Nome) @Html.DisplayFor(model => model.Negocio_Matricula_Aluno.Negocio_Pessoa.Sobrenome)</dd>

        <dt>Status</dt>
        <dd>@Html.DisplayFor(model => model.Status_Vinculo)</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" />
        </div>
    }
</div>
