@model NimbusACAD.Models.ViewModels.VerAlunoViewModel

@{
    ViewBag.Title = "VerAluno";
}

<h2>Ver aluno</h2>
<hr />
<div class="col-md-6">
        <p><b>@Html.DisplayNameFor(model => model.Nome)</b> @Html.DisplayFor(model => model.Nome)</p>
        <p><b>@Html.DisplayNameFor(model => model.Email)</b> @Html.DisplayFor(model => model.Email)</p>
        <p><b>@Html.DisplayNameFor(model => model.Curso)</b> @Html.DisplayFor(model => model.Curso)</p>
        <p><b>@Html.DisplayNameFor(model => model.Ativo)</b> @Html.DisplayFor(model => model.Ativo)</p>
        <p><b>@Html.DisplayNameFor(model => model.DeveDocumento)</b> @Html.DisplayFor(model => model.DeveDocumento)</p>
    </dl>
</div>
<div class="col-md-6">
    <p>Módulos</p>
    <p>@Html.ActionLink("Vincular Módulo", "VincularModulo", new { id = Model.matID })</p>
    <table class="table">
        <tr>
            <th>Módulo</th>
            <th>Status</th>
            <th></th>
        </tr>

        @foreach (var item in Model.modulos)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ModuloNM)</td>
                <td>@Html.DisplayFor(modelItem => item.StatusVinculo)</td>
                <td>@Html.ActionLink("Detalhes", "VerVinculoModulo", new { id = item.VinculoID })</td>
            </tr>
        }
    </table>
    <p>@Html.ActionLink("Vincular disciplina", "VincularDisciplina", new { id = Model.matID })</p>

    @if (Model.DeveDocumento.Equals("Sim"))
    {
        <p>Documentos deventes</p>
        <table class="table">
            @foreach (var item in Model.documentos)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.DocumentoNM)</td>
                </tr>
            }
        </table>
        <p>@Html.ActionLink("Cadastrar documento", "NovoDocumento", new { id = Model.pID })</p>
    }
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}