@model NimbusACAD.Models.ViewModels.VerAlunoViewModel

@{
    ViewBag.Title = "VerAluno";
}

<h2>Ver Aluno</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>@Html.DisplayNameFor(model => model.Curso)</dt>
        <dd>@Html.DisplayFor(model => model.Curso)</dd>

        <dt>@Html.DisplayNameFor(model => model.Ativo)</dt>
        <dd>@Html.DisplayFor(model => model.Ativo)</dd>

        <dt>@Html.DisplayNameFor(model => model.DeveDocumento)</dt>
        <dd>@Html.DisplayFor(model => model.DeveDocumento)</dd>
    </dl>
</div>

<p>Módulos</p>
<p>@Html.ActionLink("Vincular Módulo", "VincularModulo", new { id = Model.matID })</p>
<table class="table">
    <tr>
        <th>Módulo</th>
        <th>Status</th>
        <th></th>
    </tr>
    
    @foreach (var item in Model.modulos)
    {
        <tr>
            <th>@Html.DisplayFor(modelItem => item.ModuloNM)</th>
            <th>@Html.DisplayFor(modelItem => item.StatusVinculo)</th> | 
            <th>@Html.ActionLink("Detalhes", "VerVinculoModulo", new { id = item.VinculoID })</th>
        </tr>
    }
</table>
<p>@Html.ActionLink("Vincular disciplina", "VincularDisciplina", new { id = Model.matID })</p>

@if (Model.DeveDocumento.Equals("Sim"))
{
    <p>Documentos deventes</p>
    <p>@Html.ActionLink("Cadastrar documento", "NovoDocumento", new { id = Model.pID })</p>
    <table class="table">
        @foreach (var item in Model.documentos)
        {
            <tr>
                <th>@Html.DisplayFor(modelItem => item.DocumentoNM)</th>
            </tr>
        }
    </table>
}

<p>
    @Html.ActionLink("Voltar", "Index")
</p>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}