@model NimbusACAD.Models.ViewModels.VerVinculoDisciplinaViewModel

@{
    ViewBag.Title = "VerVinculoDisciplina";
}

<h2>VerVinculoDisciplina</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.DisciplinaNm)</dt>
        <dd>@Html.DisplayFor(model => model.DisciplinaNm)</dd>

        <dt>@Html.DisplayNameFor(model => model.Professor)</dt>
        <dd>@Html.DisplayFor(model => model.Professor)</dd>

        <dt>@Html.DisplayNameFor(model => model.NmAluno)</dt>
        <dd>@Html.DisplayFor(model => model.NmAluno)</dd>

        <dt>@Html.DisplayNameFor(model => model.TotAulasDadas)</dt>
        <dd>@Html.DisplayFor(model => model.TotAulasDadas)</dd>

        <dt>@Html.DisplayNameFor(model => model.Frequencia)</dt>
        <dd>@Html.DisplayFor(model => model.Frequencia)</dd>

        <dt>@Html.DisplayNameFor(model => model.Nota1)</dt>
        <dd>@Html.DisplayFor(model => model.Nota1)</dd>

        <dt>@Html.DisplayNameFor(model => model.Nota2)</dt>
        <dd>@Html.DisplayFor(model => model.Nota2)</dd>

        <dt>@Html.DisplayNameFor(model => model.MediaFinal)</dt>
        <dd>@Html.DisplayFor(model => model.MediaFinal)</dd>
    </dl>
</div>

<p>Horários dessa disciplina</p>
<table class="table">
    <tr>
        <th>Dia</th>
        <th>Inicio</th>
        <th>Fim</th>
    </tr>

    @foreach (var item in Model.horarios)
    {
        <tr>
            <th>@Html.DisplayFor(modelItem => item.DiaSemana)</th>
            <th>@Html.DisplayFor(modelItem => item.HoraInicio)</th>
            <th>@Html.DisplayFor(modelItem => item.HoraFim)</th>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Remover vinculo", "RemoverVinculoDisciplina", new { id = Model.VinculoID}) | 
    @Html.ActionLink("Voltar", "VerAluno", new { id = Model.MatriculaID})
</p>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}