@model NimbusACAD.Models.ViewModels.VerVinculoModuloViewModel

@{
    ViewBag.Title = "VerVinculoModulo";
}

<h2>Ver Vinculo Módulo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.ModuloNM)</dt>
        <dd>@Html.DisplayFor(model => model.ModuloNM)</dd>

        <dt>Status</dt>
        <dd>@Html.DisplayFor(model => model.StatusVinculo)</dd>
    </dl>
</div>

<p>Disciplinas</p>
<table class="table">
    @foreach (var item in Model.disciplinas)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DisciplinaNM)</td>
            <td>@Html.ActionLink("Detalhes", "VerVinculoDisciplina", new { discID = item.DisciplinaID, matID = Model.MatID })</td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Editar", "EditarVinculoModulo", new { id = Model.VinculoID }) | 
    @Html.ActionLink("Remover", "RemoverVinculoModulo", new { id = Model.VinculoID})
</p>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}