@model NimbusACAD.Models.ViewModels.VerVinculoDisciplinaViewModel

@{
    ViewBag.Title = "VerVinculoDisciplina";
}

<h2>VerVinculoDisciplina</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Disciplina</dt>
        <dd>@Html.DisplayFor(model => model.DisciplinaNm)</dd>

        <dt>Professor</dt>
        <dd>@Html.DisplayFor(model => model.Professor)</dd>

        <dt>Aluno</dt>
        <dd>@Html.DisplayFor(model => model.NmAluno)</dd>

        <dt>Total de aulas dadas</dt>
        <dd>@Html.DisplayFor(model => model.TotAulasDadas)</dd>

        <dt>Frequência</dt>
        <dd>@Html.DisplayFor(model => model.Frequencia)</dd>

        <dt>Nota 1</dt>
        <dd>@Html.DisplayFor(model => model.Nota1)</dd>

        <dt>Nota 2</dt>
        <dd>@Html.DisplayFor(model => model.Nota2)</dd>

        <dt>Média</dt>
        <dd>@Html.DisplayFor(model => model.MediaFinal)</dd>
    </dl>
</div>

<p>Horários dessa disciplina</p>
<table class="table">
    <tr>
        <th>Dia da semana</th>
        <th>Inicio da aula</th>
        <th>Término da aula</th>
    </tr>

    @foreach (var item in Model.horarios)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DiaSemana)</td>
            <td>@Html.DisplayFor(modelItem => item.HoraInicio)</td>
            <td>@Html.DisplayFor(modelItem => item.HoraFim)</td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Remover vinculo", "RemoverVinculoDisciplina", new { id = Model.VinculoID})
</p>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}