@model NimbusACAD.Models.DB.Negocio_Notificacao

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Você tem certeza de que deseja apagar esta mensagem, esta operação não poderá ser desfeita?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Emissor</dt>
        <dd>@Html.DisplayFor(model => model.Negocio_Pessoa.Primeiro_Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Assunto)</dt>
        <dd>@Html.DisplayFor(model => model.Assunto)</dd>

        <dt>@Html.DisplayNameFor(model => model.Corpo)</dt>
        <dd>@Html.DisplayFor(model => model.Corpo)</dd>

        <dt>@Html.DisplayNameFor(model => model.Lida)</dt>
        <dd>@Html.DisplayFor(model => model.Lida)</dd>

        @*<dt>Receptor</dt>
        <dd>@Html.DisplayFor(model => model.Negocio_Pessoa1.Primeiro_Nome)</dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
