@model NimbusACAD.Models.DB.Negocio_Notificacao

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Negocio_Notificacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Corpo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corpo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Negocio_Pessoa.Primeiro_Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Negocio_Pessoa.Primeiro_Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Negocio_Pessoa1.Primeiro_Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Negocio_Pessoa1.Primeiro_Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
