@model NimbusACAD.Models.DB.RBAC_Usuario

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar usuário</h2>

<h3>Você tem certeza de que deseja deletar este usuário, esta operação não podera ser desfeita?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Username)</dt>
        <dd>@Html.DisplayFor(model => model.Username)</dd>

        <dt>@Html.DisplayNameFor(model => model.Negocio_Pessoa.Primeiro_Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Negocio_Pessoa.Primeiro_Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Negocio_Pessoa.Sobrenome)</dt>
        <dd>@Html.DisplayFor(model => model.Negocio_Pessoa.Sobrenome)</dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Detalhes", new { id = Model.Usuario_ID })
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
