@model IEnumerable<NimbusACAD.Models.DB.RBAC_Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Username)</th>
        <th>@Html.DisplayNameFor(model => model.Negocio_Pessoa.Primeiro_Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Dt_Ultima_Modif)</th>
        <th>@Html.DisplayNameFor(model => model.Bloqueado)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Username)</td>
        <td>@Html.DisplayFor(modelItem => item.Negocio_Pessoa.Primeiro_Nome)</td>
        <td>@Html.DisplayFor(modelItem => item.Dt_Ultima_Modif)</td>
        <td>@Html.DisplayFor(modelItem => item.Bloqueado)</td>
        <td>@Html.ActionLink("Detalhes", "Detalhes", new { id=item.Usuario_ID })</td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
