@model NimbusACAD.Models.DB.RBAC_Link_Usuario_Perfil

@{
    ViewBag.Title = "RemoverPerfilDeAcessoConfirmacao";
}

<h2>RemoverPerfilDeAcessoConfirmacao</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RBAC_Link_Usuario_Perfil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Link_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RBAC_Perfil.Perfil_Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RBAC_Perfil.Perfil_Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RBAC_Usuario.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RBAC_Usuario.Username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
