@model NimbusACAD.Models.DB.RBAC_Link_Usuario_Perfil

@{
    ViewBag.Title = "RemoverPerfilDeAcesso";
}

<h2>Remover Perfil De Acesso</h2>

<h3>Tem certeza de que desejar desvincular o usuário deste perfil?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.RBAC_Perfil.Perfil_Nome)</dt>
        <dd>@Html.DisplayFor(model => model.RBAC_Perfil.Perfil_Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.RBAC_Usuario.Username)</dt>
        <dd>@Html.DisplayFor(model => model.RBAC_Usuario.Username)</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Desvincular perfil" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Detalhes", new { id = Model.Usuario_ID })
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
